.flex-row__start-start {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: flex-start;
}

.flex-row__start-center {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.flex-row__start-end {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: flex-end;
}

.flex-row__space-between-start {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.flex-row__space-between-center {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flex-row__space-between-end {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.flex-row__center-start {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.flex-row__center-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-row__center-end {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.flex-row__end-start {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: flex-start;
}

.flex-row__end-center {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

.flex-row__end-end {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: end;
}

.flex-row__space-around-start {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

.flex-row__space-around-center {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.flex-row__space-around-end {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: end;
}

.flex-column__start-start {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
}

.flex-column__start-center {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.flex-column__start-end {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-end;
}

.flex-column__space-between-start {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.flex-column__space-between-center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.flex-column__space-between-end {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.flex-column__center-start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.flex-column__center-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-column__center-end {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.flex-column__end-start {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-start;
}

.flex-column__end-center {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.flex-column__end-end {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
}

.flex-column__space-around-start {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.flex-column__space-around-center {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.flex-column__space-around-end {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: end;
}
