.service {
	background-color: #17c2a4;
	height: 100vh;
}

.service__content-title {
	font-size: 42px;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 700;
	color: #f7f3ea;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.service__line {
	border-bottom: 4px solid;
	border-color: #14a58c;
	margin-bottom: 24px;
	width: 90px;
}

.service__content {
	text-align: center;
	font-size: 1em;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 400;
	color: #f7f3ea;
	margin-bottom: 80px;
	width: 600px;
}

.service__work-block {
	width: 260px;
}

.service__work-icon {
	margin-bottom: 60px;
}

.service__work-title {
	font-size: 1.2em;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 700;
	color: #f7f3ea; 
	text-transform: uppercase;
	margin-bottom: 30px;
}

.service__work-img {
	height: 120px;
	padding: 0;
}

.service__work-content {
	text-align: center;
	font-size: 1em;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 400;
	color: #f7f3ea;
	padding: 0 30px;
}

@media  screen and (max-width: 910px) {
	.service__content-title {
		font-size: 35px;
	}
}

@media screen and (max-width: 760px) {
	.service__content-title {
		font-size: 25px;
	}

	.service__work-img {
		height: 80px;
	}
}

@media screen and (max-width: 500px) {
	.service__content-title {
		font-size: 17px;
	}

	.service__work-title {
		font-size: 1em;
	}
}

@media screen and (max-width: 400px) {
	.service__work-img {
		height: 50px;
	}
}
