.header {
  padding: 60px 0 0 0;
  background-color: #87509c;
  height: 100vh;
}

.header__wrapper {
  max-width: 1100px;
  margin: 0 auto;
  height: 100%;
}

.header__top-panel-item-menu {
  margin-left: 6px;
  padding: 10px 18px;
  border-radius: 6px;
  text-decoration: none;
  text-transform: uppercase;
  color: #f7f3ea;
  font-size: 16px;
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  transition-duration: 400ms;
}

.header__top-panel-item-menu:hover {
  background-color: #643a79;
}

.header__content {
  height: 100%;
}

.header__content-title {
  margin: 0 0 50px;
  text-align: center;
  font-size: 42px;
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  color: #f7f3ea;
}

.header__content-button {
  background-color: #eb7d4b;
  text-transform: uppercase;
  text-decoration: none;
  color: #f7f3ea;
  font-size: 16px;
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  padding: 28px 90px;
  border-radius: 6px;
  box-shadow: 0 6px 0px #c86a40;
  transition-duration: 300ms;
}

.header__content-button:hover {
  background-color: #db6c3a;
  box-shadow: 0 3px 0px #c86a40;
}

@media screen and (max-width: 910px) {
  .header__content-title {
    font-size: 35px;
  }
}

@media screen and (max-width: 760px) {
  .header__top-panel-item-menu {
    font-size: 13px;
  }

  .header__content-title {
    font-size: 25px;
  }

  .header__content-button {
    padding: 20px 60px;
  }
}

@media screen and (max-width: 600px) {
  .header__top-panel-item-menu {
    font-size: 13px;
    padding: 6px 10px;
  }

  .header__top-panel-logo-img {
    width: 80px;
    margin-right: 20px;
  }

  .header__content-button {
    padding: 20px 50px;
  }
}

@media screen and (max-width: 500px) {
  .header__top-panel-item-menu {
    font-size: 12px;
    padding: 6px 6px;
  }

  .header__top-panel-logo-img {
    width: 60px;
    margin-right: 0;
  }

  .header__content-title {
    font-size: 17px;
  }

  .header__content-button {
    padding: 18px 40px;
  }
}
